
syntax enable;

set backspace=indent,eol,start
let mapleader = ' ' 				"the default leader is \, but hitting space is easier
"set number					"let's activate line numbers
"set linespace=26				"gui vim spicific line space, e.g. vscode vim or ideavim
set nocompatible              			"be iMproved, required for Vundle, using latest Vim settings/options.
set surround



"-----------Registers-----------"

"-----------For Php-----------"
" Insert ';' to the end of line
nmap ;; A;<Esc>

" Delete char at the end of line
nmap :: g_dl<Esc>



" Go to next public 
nmap gp /public

"-----------Searching-----------"
"
set hlsearch			
set incsearch




"----------Blank lines-----------"

" Emphasize line:  add blank line above & below"
nmap pp O<Esc>jo<Esc>kA


"----------Visually Prettier-----------"
colorscheme morning

set t_CO=256					"Use 256 colors. This is useful for terminal Vim.

set guifont=Fira_Code:h17

"No scrollbars at all
set guioptions-=l
set guioptions-=L
set guioptions-=r
set guioptions-=R



"-----------Normal Mode Mappings-----------"

"Easier to edit .vimrc file
nmap <Leader>ev :tabedit ~/.vimrc<cr>

"Easier to edit plugins file
nmap <Leader>ep :tabedit ~/.vim/plugins.vim<cr>

"Easier to edit .zshrc file
nmap <Leader>ez :tabedit ~/.zshrc<cr>

"Simple search highlight removal
nmap <Leader>, :nohlsearch<cr>

nmap <Leader>h :w<cr>


"----To Start editing------'

"Append to the end of word, easier with AO - keyboard
nnoremap ta ea

"Prepend to the beginnig of word, easier with AO - keyboard
nnoremap tp bi



"-----------Visual Mode mappings---------"

" Enter NORMAL mode pressing  as alternative to hitting Escape button
imap  nn <Esc>
imap  hh <Enter>
map nn <Esc>

imap <c-t> <Esc>

" Insert arrow function"
imap aa ()=>{}<Esc>i

" Insert nested arrow function"
imap an ()=>{ () => {} }<Esc>2hi


"-----------Automatic-----------"
"Automatic source of vimrc file on save
augroup autosourcing
autocmd!
autocmd BufWritePost .vimrc source %
augroup END



"-----------Plugins-----------"
" For loading plugins from ~/.vim directory
so ~/.vim/plugins.vim


"----Vim-surrond tweaking"

" Surround tag shortcut
nmap ts ysat

